.Weather {
  color: rgb(112, 117, 122);
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 450px;
  }

  .Weather h1 {
    margin-top: 20px;
  }
  .Weather .form-control-lg   {
    padding: 0px;
  }

  .Weather .btn {
    background: #11ac7e;
    border: #11ac7e;
    transition: all 200ms ease-in-out;
  }

  .Weather .btn:hover {
    background: 
    #31dfac;
    border:
    #31dfac;
    
  }
  
  .Weather .input {
    width: 300px;
    height: 38px;
  }
  .Weather .btn {
    margin: 0px 10px;
  }

  .Weather canvas {
    float: left;
    padding: 10px 0px;
    
  }

 .border {
    border: 1px solid rgb(112, 117, 122);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 0px 20px;
  }
  
  .Weather .temperature {
    color: rgb(33, 33,33);
    font-size: 58px;
    font-weight: 400;
   display: inline-block;
   padding-top: 25px;
   margin-left: 5px;
     }
  
  .Weather .units {
  font-size: 13px;
  color: black;
  position: relative;
  top: -28px;
  
}

a {
  text-decoration: none;
  color: #11ac7e;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: none;
  color:#31dfac;
  font-weight: bold;
}
.Weather ul {
    list-style-type: none;
    padding: 0;
  }