body {
  color: rgb(112, 117, 122);
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  max-width: 550px;
  }

  h1 {
    margin-top: 20px;
  }
  .form-control-lg   {
    padding: 0px;
  }
  
  .input {
    width: 300px;
    height: 38px;
  }
  .btn {
    margin: 0px 10px;
  }

  canvas {
    height: 64px;
    width: 64px;
    margin-right: 10px;
    display: inline-block;
  }

  .border {
    border: 1px solid rgb(112, 117, 122);
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 0px 20px;
  }
  
  .temperature {
    font-size: 58px;
    font-weight: 400;
   display: inline-block;
     }
  
.units {
  position: relative;
  top: -28px;
}

ul {
    list-style-type: none;
    padding: 0;
  }